@import "../../styles/colors.scss";

.projects-list-tab {
  width: 30%;
  padding: 40px;

  background-color: #dedede;

  .projects-list-title {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 16px;

    div {
      border-left: solid 2px $primary-accent-color;
      padding-left: 8px;
    }
  }

  .projects-list {
    padding: 0px;
    columns: 1;

    .project-link {
      list-style: none;
      margin: 0px;
      padding: 2px 16px;
      font-size: 14px;
      font-weight: 500;

      a {
        border-left: solid 2px white;
        padding-left: 8px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
