@import "../../styles/colors.scss";

.breadcrumb {
  .breadcrumb-item {
    font-size: 16px;

    &:not(.link) {
      color: black;
    }

    &.link {
      color: $primary-accent-color;
    }

    .breadcrumb-separator {
      color: $primary-accent-color;
    }
  }
}
