.pz-partners {
  .partner-logos-container {
    display: flex;
    justify-content: center;
    gap: 48px;

    .partner-image {
      max-width: 100px;

      object-fit: cover;
      border-radius: 50px;
    }
  }
}
