@import "./styles/constants.scss";

.content-container {
  $content-padding: 48px;
  min-height: calc(
    100vh - $header-height - $footer-height - $footer-border-height -
      $content-padding
  );
  padding-bottom: $content-padding;
}

.pz-slide {
  padding: 0px $default-page-padding;
}

.pz-slide-inner {
  padding: $vertical-slide-padding 0px;
}

.pz-slide-title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

  margin-bottom: 45px;
}

.light-grey-bg {
  background-color: #f2f2f2;
}

.dark-grey-bg {
  background-color: #dedede;
}
