@import "./styles/fonts.scss";

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: unset;
}
