@import "../../styles/constants.scss";

.pz-banner {
  display: flex;
  height: $banner-height;
  background-color: #131313;
  color: white;

  align-items: center;
  justify-content: center;

  .banner-logo {
    height: 100%;
  }
}
